.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
   

}

.popular h1{
    color: #6b705c;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    font-family: 'poppins';
}
.popular hr{
    width: 150px;
    height: 6px;
    border-radius: 10px;
    color:#a89f91

}

.popular-item{
    margin-top:50px;
    display: flex;
    gap: 30px;
    font-family:  'Poppins', sans-serif;
    color: #6b705c;
    
}

.popular-item img{
    border-radius: 10px;
}